<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">

            <div class="form-group">
                <label>Project Name</label>
                <input 
                formControlName="name"
                type="text" 
                class="form-control">
                <div *ngIf="!f.name.valid && f.name.touched">
                    <span *ngIf="f.name.errors.required" class="alert-danger">Name is required</span>
                    <span *ngIf="f.name.errors.nameIsForbidden" class="alert-danger">That name is forbidden</span>
                </div>
                
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input 
                formControlName="email"
                type="email" 
                class="form-control">

                <div *ngIf="!f.email.valid && f.email.touched">
                    <span *ngIf="f.email.errors.required" class="alert-danger">Email is required</span>
                    <span *ngIf="f.email.errors.email" class="alert-danger">Check the email</span>
                </div>
            </div>

            <div class="form-group">
                <label for="">Project Status</label>
                <br>
                <select name="status" id="status" formControlName="status">
                    <option class="form-control" *ngFor="let status of projectStatus" value="{{status}}">{{status}}</option>
                </select>
            </div>

            <button class="btn btn-default" type="submit">Submit</button>
        </form>
      </div>

    </div>
    <div class="col-md-6" *ngIf="formJson">
        <pre class="dark-bg text-light">{{formJson | json}}</pre>
      </div>
</div>